<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Qui paye son coup : {% endblock %}</title>
        {% block stylesheets %}
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
            <link href="{{ asset('public/css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <div class="containe-fluid">

                <div id="header-logo">
                    <h1>Qui Paye Son Coup ?</h1>
                </div>
                <nav>
                    <div class="row">
                        <div class="col-md-2">
                                <a class="btn btn-success" href="{{ path("fos_user_security_login") }}">Connexion</a>
                                <a class="btn btn-default" href="{{ path("fos_user_registration_register") }}">Inscription</a>
                        </div>
                    </div>
                </nav>

            <body>
                {% block body %}{% endblock %}
                {% block javascripts %}
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
                    <script src="{{ asset('public/js/main.js') }}"></script>
                {% endblock %}
            </body>

            <hr>

            <footer>
                Copyright Qui Paye Son Coup {{ "now"|date("Y") }}
            </footer>
    </div>
</html>
