{% extends 'base.html.twig' %}

{% block body %}

<div class="containe-fluid">
    <div class="row">

        <div class="col-md-4" id="request">
            <h2>Invitations recus (2)</h2>
            <div class="col-md-8" id="invit1">
                <div class="col-md-3">
                    <img src="{{ asset('public/image/verre.jpg') }}" id="image_invit">
                </div>
                <div class="col-md-9">
                    <ul class="list-unstyled">
                        <li>
                            Room de ta ...
                        </li>
                        <li>
                            <button type="button" class="btn btn-success btn-sm">Accepter</button> <button type="button" class="btn btn-danger btn-sm">Refuser</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8" id="invit1">
                <div class="col-md-3">
                    <img src="{{ asset('public/image/verre.jpg') }}" id="image_invit">
                </div>
                <div class="col-md-9">
                    <ul class="list-unstyled">
                        <li>
                            Room de ta ...
                        </li>
                        <li>
                            <button type="button" class="btn btn-success btn-sm">Accepter</button> <button type="button" class="btn btn-danger btn-sm">Refuser</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8" id="list">

            <h2>Liste des ROOMS</h2>
                <div class="col-md-2" id="room">
                        <ul class="list-unstyled">
                            <li>
                                <img src="{{ asset('public/image/verre.jpg') }}">
                            </li>
                            <hr>
                            <li>
                                Nom de la room
                            </li>
                            <li>
                                Description
                            </li><li>
                                Date
                            </li>
                        </ul>
                </div>

                <div class="col-md-2" id="room">
                    <ul class="list-unstyled">
                        <li>
                            <img src="{{ asset('public/image/verre.jpg') }}">
                        </li>
                        <hr>
                        <li>
                            Nom de la room
                        </li>
                        <li>
                            Description
                        </li><li>
                            Date
                        </li>
                    </ul>
                </div>

                <div class="col-md-2" id="room">
                    <ul class="list-unstyled">
                        <li>
                            <img src="{{ asset('public/image/verre.jpg') }}">
                        </li>
                        <hr>
                        <li>
                            Nom de la room
                        </li>
                        <li>
                            Description
                        </li><li>
                            Date
                        </li>
                    </ul>
                </div>
        </div>

    </div>
</div>

{% endblock %}
